.*.swp
*~
/assets
/protected/config/local.php
/protected/config/db.json
/protected/runtime/
/protected/scripts/set_env.sh
/.vagrant
/logs
/images/uploads/product/*
/images/uploads/article/*
/images/uploads/banner/*
/images/uploads/category/*
Vagrantfile
chef/
protected/scripts/
themes/
./index.php

